[Unit]
Description=Manage light for Smartmirror
After=network.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/smartmirror/light_button.py
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4
 
[Install]
WantedBy=multi-user.target
