
html {
  height: 100%;
}

body {
	position: relative;
	background-color: #101010;
	color: white;
	min-height: 100%;
  margin: 0;
  padding: 0;
}


.clock {
	font-family: 'Heebo', sans-serif;
	font-size: 120px;
	font-weight: bold;
	text-align: right;
}

.current_date {
	font-family: 'Heebo', sans-serif;
	font-size: 80px;
	font-weight: thin;
	text-align: right;
	line-height: 0.8;
}

.news-entry-title {
	font-family: 'Heebo', sans-serif;
	font-size: 32px;
	font-weight: bold;
}

.news-entry-summary {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: medium;
}

.weather_temp {
	font-family: 'Heebo', sans-serif;
	font-size: 80px;
	font-weight: bold;
	margin-top: 35px;
}

.weather_forcast_temp {
	font-family: 'Heebo', sans-serif;
	font-size: 22px;
	font-weight: medium;
	text-align: right;
}

.weather_logo {
	font-size: 120px;
	text-align: center;
}

.weather_string {
	font-family: 'Heebo', sans-serif;
	font-size: 42px;
	font-weight: medium;
	text-align: right;
}

.weather {
	vertical-align: middle;
	text-align: center;
}

hr.sep {
  border: 2px solid;
  border-radius: 5px;
  margin-bottom: 0px;
}

.title {
	font-family: 'Heebo', sans-serif;
	font-size: 42px;
	font-weight: bold;
	text-align: left;
	margin-top: 0px;
	line-height: 50px;
}

.invert {
	float: right;
	text-align: right;
	background-color: white;
	color: #101010;
	margin: 0px;
}

.news-feed {
	height: 150px;
	position: absolute; bottom: 0;
}

.to_left {
	position: relative;
	float: right;
	text-align: right;
}

.triangle-topleft {
	width: 0;
	height: 0;
	border-top: 50px solid white;
	border-right: 10px solid transparent;
}

.main-text {
	font-size: 26px;
}

.smooth-text {
	color: lightslategrey;
}